<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>Password Reset</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
 <style>
  body {
   background-color: #f5f5f5;
   font-family: sans-serif;
  }
  h1 {
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
   margin-bottom: 2rem;
  }
  .container {
   max-width: 600px;
   margin: 0 auto;
   background-color: #fff;
   padding: 2rem;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .text {
   margin-bottom: 1rem;
   font-size: 1.2rem;
   line-height: 1.5;
  }
  .button {
   background-color: #00d1b2;
   border: none;
   border-radius: 5px;
   color: #fff;
   padding: 1rem;
   font-size: 1.2rem;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
   text-decoration: none;
   display: inline-block;
   margin-top: 1rem;
  }
  .button:hover {
   background-color: #009e86;
  }
 </style>
</head>
<body>
 <div class="container">
  <h1 class="title">Password Reset</h1>
  <p class="text">Hello <%= user.name %>,</p>
  <p class="text">We have received a request to reset your password for your account on our website. If you did not make this request, please disregard this email.</p>
  <p class="text">To reset your password, click the button below:</p>
  <a href="<%= resetLink %>" class="button">Reset Password</a>
  <p class="text">If you are having trouble with the button, you can also copy and paste the following link into your web browser:</p>
  <p class="text"><%= resetLink %></p>
  <p class="text">Thank you,</p>
  <p class="text">Best & Regards,</p>
  <p class="text">Mood App</p>
 </div>
</body>
</html>
